<style type="text/css">
<![CDATA[
      polyline.class1 {
        fill: none;
        stroke: red;
        stroke-width: 5;
      }
      polyline.class2 {
        fill: none;
        stroke: blue;
        stroke-width: 5;
	stroke-dasharray: 9, 9, 9, 9;
      }
      polyline.class3 {
        fill: none;
        stroke: green;
        stroke-width: 5;
	stroke-dasharray: 5, 5, 5, 5;
      }
      polyline.class4 {
        fill: none;
        stroke: magenta;
        stroke-width: 5;
	stroke-dasharray: 15, 15, 5, 5;
      }
      polyline.class5 {
        fill: none;
        stroke: cyan;
        stroke-width: 5;
	stroke-dasharray: 15, 5, 15, 5;
      }

      rect.legend {
        fill: white;
        stroke: black;
        stroke-width: 1;
      }
      text.legend {
        font-size: 24px;
        font-style: normal;
        font-family: "Times New Roman";
        dominant-baseline: central;
      }

      
      line.tic {
        fill: none;
        stroke: black;
        stroke-width: 1;
      }
      rect.axis {
        fill: none;
        stroke: black;
        stroke-width: 2;
      }
      text.xTic {
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
        font-style: normal;
        font-family: "Times New Roman";
        dominant-baseline: hanging;
      }
      text.yTic {
        text-align: right;
        vertical-align: middle;
        font-size: 22px;
        font-style: normal;
        font-family: "Times New Roman";
        dominant-baseline: central;
      }    
      text.title {
        text-align: center;
        vertical-align: top;
        font-size: 40px;
        font-style: normal;
        font-family: "Times New Roman";
        font-weight: bold;
      }
      text.xLabel {
        text-align: center;
        vertical-align: top;
        font-size: 30px;
        font-style: normal;
        font-family: "Times New Roman";
      }   
      text.yLabel {
        text-align: center;
        vertical-align: bottom;
        font-size: 30px;
        font-style: normal;
        font-family: "Times New Roman";
      }




]]>
</style>

<script><![CDATA[
    var bMouseDragging = false;
    var nMouseDown;
    var legend = null;
    var legendX = 0, legendY = 0;

    function TranslateCoords(el, x, y) {
      var m = el.getScreenCTM();
      var p = document.documentElement.createSVGPoint();
      p.x = x;
      p.y = y;
      p = p.matrixTransform(m.inverse());
      return p;
    }
    
    function mouseDown(evt) { 
        bMouseDragging = true;
        if(legend) {
            nMouseDown = TranslateCoords(evt.target, evt.clientX, evt.clientY);
            //alert(evt.clientX + " " + evt.clientY + " (" + nMouseDown.x + "," + nMouseDown.y + ")");
        }
    }
    function mouseUp(evt) { 
        bMouseDragging = false;
        var p = TranslateCoords(evt.target, evt.clientX, evt.clientY);
	legendX = (legendX + p.x-nMouseDown.x);
	legendY = (legendY + p.y-nMouseDown.y);
    }
    function mouseMove(evt) { 
        if(bMouseDragging) {
            if(legend) {
                var p = TranslateCoords(evt.target, evt.clientX, evt.clientY);
                legend.setAttribute("transform", "translate(" + (legendX + p.x-nMouseDown.x) + "," + (legendY + p.y-nMouseDown.y) + ")");
                bClient = false;
            }
        }
    }
    
    function init() {
        legend = document.getElementById("legend");
        if(legend) {
            var l = document.rootElement;
            l.addEventListener("mousedown", mouseDown, false);
            l.addEventListener("mouseup", mouseUp, false);
            l.addEventListener("mousemove", mouseMove, false);
        
            var n = 0, max_w=0, i;
            while(1) {
              var id = "legend_text"+n;
              var p1 = document.getElementById(id);
              if(!p1) break;
              if(p1.getBBox().width > max_w) max_w = p1.getBBox().width;
              n = n+1;
            }
            var vspace = 30, pad = 5, line = 30;
            for(i = 0; i < n; i++) { 
              var id = "legend_text"+i;
              var p1 = document.getElementById(id);
              p1.setAttribute("x", line+2*pad);
              p1.setAttribute("y", vspace*i+pad+vspace/2);
              id = "legend_line"+i;
              var p2 = document.getElementById(id);
              if(p2) p2.setAttribute("points", pad + "," + (vspace*i+pad+vspace/2) + " " + (pad+line) + "," + (vspace*i+pad+vspace/2));
            }
            var r = document.getElementById("legend_rect");
            if(r) { 
              r.setAttribute("width", max_w + line + 3*pad); 
              r.setAttribute("height", vspace*n+2*pad); 
            }
        }
    }

]]></script>



