.DS_Store
.JLabelrc.mat
._*
*~
*.bak
#*#
perframe/.PrepareJAABAData_rc.mat
*.db
*.mov
*.avi
*.prj
*.pl
*.jab
*.zip
*.out
*.pdf
*.mat
untitled*.m
*txt
*.dat
*.png
*.svg
*.pdf
*#
*JAABA_Release*
*obsolete*
*csv
compiled*